<div class="container">
    <div class="row row1">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="text-center" id="well1">Imagica The Food House Galary</h3>
            <p class="text-center" id="well2">A Place For All Your Photos And Photo Lovers!!</p>    
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/16.jpg" id="dispimage">
        </div>
    </div>
</div><br><br><br><br><br>



<div class="container-fluid row2">
    <h3 class="text-center" id="glance" data-aos="fade-up" data-aos-duration="3000">Glance At Our Work</h3><br><br><br>
    <div class="row">
        <h4 class="text-center city" data-aos="fade-up" data-aos-duration="3000">Shanghai</h4><br><br>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="assets/images/chinese1.jpg" class="img-thumbnail img-circle glancephoto">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-1"></div>
                <div class="col-lg-9" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <p class="glancepara">Shanghai boasts one of China's best and most distinctive cuisines. 
                    Influenced by its position just south of the Yangtze River and at the mouth of the Huangpu River, 
                    the region abounds in a selection of dishes that are unique to Shanghai but also influenced from neighboring provinces.
                    The Shanghainese are known to have a 'sweet tooth', and more sugar is used in Shanghai's signature dishes than in any other part of China.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <h4 class="text-center city" data-aos="fade-up" data-aos-duration="3000">Beijing</h4><br><br>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <p class="glancepara">Beijing roast duck, or Peking Duck, is the epitome of Beijing cuisine and the dish you must try when visiting Beijing.
                    The dish is mostly esteemed for the thin, crispy skin, with authentic versions of the dish serving mostly skin and little meat.
                    While sauces and accompaniments will vary between restaurants it is difficult to go wrong with roast duck in Beijing.</p>  
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="assets/images/chinese2.jpg" class="img-thumbnail img-circle glancephoto">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <h4 class="text-center city" data-aos="fade-up" data-aos-duration="3000">Hong Kong</h4><br><br>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="assets/images/chinese3.jpg" class="img-thumbnail img-circle glancephoto">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <p class="glancepara">Wontons are known as chao shou (literally means "crossed hands"), added to a clear soup along with other ingredients, sometimes deep-fried. Several shapes are common, depending on the region and cooking methods.
                    The most famous are called Sichuan-style wontons, a celebrated snack in Chengdu. They are famous for their soup, made of chicken, duck, and pork simmered for a long time.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <h4 class="text-center city" data-aos="fade-up" data-aos-duration="3000">Mexico</h4><br><br>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <p class="glancepara">Boasting the three colours of the Mexican flag, chiles en nogada is one of Mexico’s most patriotic dishes. 
                    Poblano chillies filled with picadillo represent the green on the flag, the walnut-based cream sauce is the white and pomegranate seeds are the red. 
                    Originating from Puebla, history relates that the dish was first served to Don Agustin de Iturbide, liberator and subsequent Emperor of Mexico.</p>   
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="assets/images/mexican1.jpg" class="img-thumbnail img-circle glancephoto">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <h4 class="text-center city" data-aos="fade-up" data-aos-duration="3000">Berlin</h4><br><br>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="assets/images/mexican3.jpg" class="img-thumbnail img-circle glancephoto">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <p class="glancepara">This popular traditional breakfast dish features lightly fried corn tortillas cut into quarters and topped with green or red salsa (the red is slightly spicier).
                    Scrambled or fried eggs and pulled chicken are usually added on top, as well as cheese and cream. Chilaquiles are often served with a healthy dose of frijoles (refried beans).
                    Once it's ready to serve, lettuce, radish, lime and chilli are sprinkled on top. </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div><br><br>
</div>



<div class="container-fluid row3"><br><br><br><br>
    <h3 class="text-center" id="about" data-aos="fade-up" data-aos-duration="3000">A Little About Us And What We Do..</h3><br><br><br><br><br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <p class="aboutus">On this page you can find out what we have been up to lately and maybe even a little bit about where we will go in the future. For us, the greatest thing about being photographer is being in the position to inspire other people. We take such pleasure in hearing that people have been motivated to create after seeing our pictures.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <p class="aboutus">We provide support to those who really want to learn. For those who wants to capture and expolre the beauty of world we guide them and also provides the help. Being a photographer one should understand that photography is all about creativity. It all depends how you capture and magnify the world</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div><br><br><br><br><br>
</div><br><br><br><br>


<div class="container">
    <h3 class="text-center" id="work" id="about" data-aos="fade-up" data-aos-duration="3000">Cities Where We Work!!</h3>
    <div class="row"><br>
        <div class="col-lg-3 col-md-6 col-xs-12" id="workcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="workdiv">
                <img src="assets/images/night.jpg" class="img-responsive workphoto">
                <div class="workdiv">
                    <p class="text-center workp1">France</p>
                    <p class="workp2">When in France, you have to try the traditional baguettes, pain, wine, champagne and French cheese! Bread, and much more is part of nearly every meal in Paris.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12" id="workcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="workdiv">
                <img src="assets/images/paris.jpg" class="img-responsive workphoto">
                <div class="workdiv">
                    <p class="text-center workp1">Bali</p>
                    <p class="workp2">Balinese is using either sambal, it is a basic spice paste to give the best Balinese dishes their distinct flavor and kick and it always produce never ending heat in the mouth.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12" id="workcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="workdiv">
                <img src="assets/images/tokyo.jpg" class="img-responsive workphoto">
                <div class="workdiv">
                    <p class="text-center workp1">Tokyo</p>
                    <p class="workp2">Tokyo offers a seemingly unlimited choice of shopping, entertainment, culture and dining to its visitors and also the wide variety of food.Contrary to common perception.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12" id="workcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="workdiv">
                <img src="assets/images/japan.jpg" class="img-responsive workphoto">
                <div class="workdiv">
                    <p class="text-center workp1">Delhi</p>
                    <p class="workp2">Delhi and Delhi-ites are known as much for their insatiable appetites as they are for the unending variety of food found in the city. Any cuisine, Indian or international.</p>
                </div>
            </div>
        </div>   
    </div>
</div><br><br><br>


<div class="container-fluid row4" data-aos="fade-up" data-aos-duration="3000">
    <div class="row"><br><br>
        <h2 class="text-center" id="working">Start Working With Us Today..</h2><br><br>
        <div class="text-center">
            <button class="btn btn-info btn-lg" id="button">
                <a href="https://akshaypal007.github.io/AngularProject/signup" id="btnparadecoration">Sign up for free</a>
            </button>
        </div><br><br>
        <div class="text-center">
            <p id="workingpara">For more about Imagica for your business or freelance needs,<br>
            go and Sign Up.</p>
        </div>
    </div><br><br>
</div>


<div class="container-fluid row5"><br><br><br>
    <h3 class="text-center" id="work" id="work" id="about" data-aos="fade-up" data-aos-duration="3000">Our MeetUp Schedules!!</h3>
    <div class="container">
        <div class="row"><br><br><br>
            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">London<br><br>United Kingdom</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">01</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div><br><br>
                        <h4 class="text-center meetupmonth">November 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Church Street</h4><br>
                        <div class="text-center">
                            <button class="btn btn-lg meetupbutton">
                                <a href="https://akshaypal007.github.io/AngularProject/login" id="meetbtndeco">Book Now</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading" id="panelcolor">
                        <p class="text-center meetupcity" style="color: white;">Paris<br><br>France</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">21</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div><br><br>
                        <h4 class="text-center meetupmonth">December 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Southbank Centre</h4><br>
                        <div class="text-center">
                            <button class="btn btn-lg meetupbutton">
                                <a href="https://akshaypal007.github.io/AngularProject/login" id="meetbtndeco">Book Now</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">Nyon<br><br>Switzerland</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">01</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div><br><br>
                        <h4 class="text-center meetupmonth">February 2020</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Theatre De Marens</h4><br>
                        <div class="text-center">
                            <button class="btn btn-lg meetupbutton">
                                <a href="https://akshaypal007.github.io/AngularProject/login" id="meetbtndeco">Book Now</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12" id="meetupcomponents" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="panel panel-info" id="panelradius">
                    <div class="panel-heading">
                        <p class="text-center meetupcity">Zurich<br><br>Switzerland</p>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">15</h2>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                        <div class="col-md-4"></div><br><br>
                        <h4 class="text-center meetupmonth">February 2019</h4>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2"></div><br><br>
                        <h4 class="text-center meetupcity1">Halle622</h4><br>
                        <div class="text-center">
                            <button class="btn btn-lg meetupbutton">
                                <a href="https://akshaypal007.github.io/AngularProject/login" id="meetbtndeco">Book Now</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
</div>


<div class="container-fluid row6">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12"><br><br>
            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="text-center" id="imagicawork">How Imagica works</h1><br>
                    <h4 class="text-center" id="workway">It is an easier, Faster and safer way to work with us..</h4>
                </div>
                <div class="col-md-1"></div>
            </div><br>

            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-1 circlemove" data-aos="fade-up" data-aos-duration="3000">
                    <div class="circle">
                        <h4 class="text-center circlenum">1</h4>
                    </div>
                </div>
                <div class="col-md-8 circleleft" data-aos="fade-up" data-aos-duration="3000">
                    <h4 class="circleleftdata">Sign up<br>It's free and only takes few minutes..</h4>
                </div>
                <div class="col-md-1"></div>
            </div><br>

            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-1 circlemove" data-aos="fade-up" data-aos-duration="3000">
                    <div class="circle">
                        <h4 class="text-center circlenum">2</h4>
                    </div>
                </div>
                <div class="col-md-8 circleleft" data-aos="fade-up" data-aos-duration="3000">
                    <h4 class="circleleftdata">Login<br>If you are our valuable customer..</h4>
                </div>
                <div class="col-md-1"></div>
            </div><br>

            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-1 circlemove" data-aos="fade-up" data-aos-duration="3000">
                    <div class="circle">
                        <h4 class="text-center circlenum">3</h4>
                    </div>
                </div>
                <div class="col-md-8 circleleft" data-aos="fade-up" data-aos-duration="3000">
                    <h4 class="circleleftdata">Select the service<br>Make choice of your desired service..</h4>
                </div>
                <div class="col-md-1"></div>
            </div><br>

            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-1 circlemove" data-aos="fade-up" data-aos-duration="3000">
                    <div class="circle">
                        <h4 class="text-center circlenum">4</h4>
                    </div>
                </div>
                <div class="col-md-8 circleleft" data-aos="fade-up" data-aos-duration="3000">
                    <h4 class="circleleftdata">Link your credit/debit card<br>You only have to do it once..</h4>
                </div>
                <div class="col-md-1"></div>
            </div><br>

            <div class="row form-group">
                <div class="col-md-1"></div>
                <div class="col-md-1 circlemove" data-aos="fade-up" data-aos-duration="3000">
                    <div class="circle">
                        <h4 class="text-center circlenum">5</h4>
                    </div>
                </div>
                <div class="col-md-8 circleleft" data-aos="fade-up" data-aos-duration="3000">
                    <h4 class="circleleftdata">Receive Email and Messages<br>Our each and every step will be updated..</h4>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="workright" data-aos="fade-up" data-aos-duration="3000">
                    <p class="text-center workrightpara">“Those who find<br>beauty in all of<br>nature will find<br>
                    themselves at<br>one with the<br>secrets of<br>life itself.”</p><br>
                    <p class="text-center workingpara2">-L. Wolfe Gilbert</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div><br><br>
</div>


<div class="container-fluid row7">
    <div class="row"><br><br><br>
        <div class="col-lg-6 col-md-6 col-xs-12">  
            <div class="col-md-12">
                <u style="color: yellow;">
                    <h3 style="color: white; font-weight: bold;">About Us</h3>
                </u><br>
                <p style="color: white;">
                    Imagica is a team of Professionals.<br>
                    We always work with highly professionals photographers.<br>
                    Try us for your photo Gallary and Portfolio sites.
                </p><br>
                <button class="btn btn-default btn-md" style="background-color: yellow;">
                    <a href="https://akshaypal007.github.io/AngularProject/login" style="color: black; text-decoration: none; font-family: Poiret One; font-weight: bold;">Contact Us</a>
                </button>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="col-md-12">
                <u style="color: yellow;">
                    <h3 style="color: white; font-weight: bold;">Contact</h3>
                </u><br>
                <div class="row form-group">
                    <div class="col-md-2">
                        <i class="fa fa-2x fa-envelope" style="color: yellow; padding-top: 15px;"></i>
                    </div>
                    <div class="col-md-10">
                        <h4 style="color: white; font-weight: bold;">Email</h4>
                        <p style="color: white;">
                            Akshaypal.ak007@gmail.com
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <i class="fa fa-2x fa-map-marker" style="color: yellow; padding-top: 15px;"></i>
                    </div>
                    <div class="col-md-10">
                        <h4 style="color: white; font-weight: bold;">Address</h4>
                        <p style="color: white;">
                            #282/c.K R Garden, Bangalore-560017
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <i class="fa fa-2x fa-mobile" style="color: yellow; padding-top: 15px;"></i>
                    </div>
                    <div class="col-md-10">
                        <h4 style="color: white; font-weight: bold;">Phone</h4>
                        <p style="color: white;">
                            +91-8892735073
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div><br><br>
</div>


